In [3]:
import pandas as pd
import numpy as np

In [6]:
df2 = pd.read_csv("data/stroke.csv")

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   object
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 106.7+ KB

In [8]:
df2.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [9]:
df2.isnull().sum()

id                    0
gender                0
age                   0
hypertension          0
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level     0
bmi                  52
smoking_status        0
stroke                0
dtype: int64

In [10]:
df2.dropna(inplace=True)

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1085 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1085 non-null   int64
 1   gender             1085 non-null   object
 2   age                1085 non-null   object
 3   hypertension       1085 non-null   int64
 4   heart_disease      1085 non-null   int64
 5   ever_married       1085 non-null   object
 6   work_type          1085 non-null   object
 7   Residence_type     1085 non-null   object
 8   avg_glucose_level  1085 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1085 non-null   object
 11  stroke             1085 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 110.2+ KB

In [14]:
df2.drop(columns=['id'],inplace=True)

In [15]:
df2.nunique()

gender                  3
age                    84
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    1025
bmi                   308
smoking_status          4
stroke                  2
dtype: int64

In [16]:
df2.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [17]:
df2['gender'].value_counts()

Female    623
Male      461
Other       1
Name: gender, dtype: int64

In [19]:
df2.replace("Other", np.nan, inplace=True)
df2.dropna(inplace=True)

In [34]:
# Replace non-numeric values with NaN
df2['age'] = pd.to_numeric(df2['age'], errors='coerce').astype(float).astype(pd.Int32Dtype())

In [35]:
df2.nunique()

gender                  2
age                    83
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    1024
bmi                   308
smoking_status          4
stroke                  2
dtype: int64

In [36]:
df2.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1083 entries, 0 to 1136
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1083 non-null   object
 1   age                1083 non-null   Int32
 2   hypertension       1083 non-null   int64
 3   heart_disease      1083 non-null   int64
 4   ever_married       1083 non-null   object
 5   work_type          1083 non-null   object
 6   Residence_type     1083 non-null   object
 7   avg_glucose_level  1083 non-null   float64
 8   bmi                1083 non-null   float64
 9   smoking_status     1083 non-null   object
 10  stroke             1083 non-null   int64
dtypes: Int32(1), float64(2), int64(3), object(5)
memory usage: 98.4+ KB

In [40]:
df2 = df2.dropna()

In [44]:
# df2['age'] = df2['age'].fillna(0).astype(int)

In [48]:
df2.nunique()

gender                  2
age                    83
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    1023
bmi                   308
smoking_status          4
stroke                  2
dtype: int64

In [49]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1083 entries, 0 to 1136
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1083 non-null   object
 1   age                1083 non-null   int32
 2   hypertension       1083 non-null   int64
 3   heart_disease      1083 non-null   int64
 4   ever_married       1083 non-null   object
 5   work_type          1083 non-null   object
 6   Residence_type     1083 non-null   object
 7   avg_glucose_level  1083 non-null   float64
 8   bmi                1083 non-null   float64
 9   smoking_status     1083 non-null   object
 10  stroke             1083 non-null   int64
dtypes: float64(2), int32(1), int64(3), object(5)
memory usage: 97.3+ KB

In [50]:
df2.to_csv('data/stroke.csv', index=False)

In [4]:
tes = pd.read_csv('data/stroke.csv')

In [5]:
tes.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [6]:
tes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083 entries, 0 to 1082
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1083 non-null   object
 1   age                1083 non-null   int64
 2   hypertension       1083 non-null   int64
 3   heart_disease      1083 non-null   int64
 4   ever_married       1083 non-null   object
 5   work_type          1083 non-null   object
 6   Residence_type     1083 non-null   object
 7   avg_glucose_level  1083 non-null   float64
 8   bmi                1083 non-null   float64
 9   smoking_status     1083 non-null   object
 10  stroke             1083 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 93.2+ KB

In [7]:
tes['stroke'].value_counts()

0    968
1    115
Name: stroke, dtype: int64